@charset "utf-8";

body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form,
select, fieldset, table, td, div, input {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none
}

h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
  font-weight: normal
}

a img {
  border: 0
}

body {
  color: #333;
  text-align: center;
  font-size: 12px
}

.font30 {
  font-size: 30px;
}

ul, ol, li {
  list-style-type: none;
  vertical-align: 0
}

a {
  outline-style: none;
  color: #535353;
  text-decoration: none
}

a:hover {
  color: #D40000;
  text-decoration: none
}

.bg-write {
  background-color: #ffffff;
}





html {
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  touch-action: pan-y;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 20px;
  word-wrap: break-word;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", "PingFang SC",
  "Microsoft YaHei", "Hiragino Sans GB";
  text-rendering: optimizeLegibility;
  /* -webkit-backface-visibility: hidden; */
  -webkit-user-drag: none;
}

* {
  margin: 0;
  padding: 0;
}

.header-contact {
  text-align: right;
  padding-right: 5%;
  color: #fffcfa;
}

.log-content {
  position: absolute;
  /* 	  border: 1px solid red; */
}

.buy-left {
  float: left;
}

.buy-right {
  float: right;
}

/*.info-content {*/
/*!*width: 60%;*!*/
/*margin: auto;*/
/*text-align: center;*/

/*}*/
.info-btn > table {
  width: 100%;
  border-collapse: collapse;
}

.info-btn > table td:first-child div {
  margin-left: 0px;
}

.info-btn > table td:last-child div {
  margin-right: 0px;
}

/* 水平垂直居中 */
.vertical-center-div {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.contain-font {
  font-weight: bold;
  font-size: 100px;
}

/* 垂直居中 */
.vertical-div {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}


.yellow-btn {
  background-image: url(../img/icon-home/1.start02.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.select-luanguage-btn {
  /*background-image: url(../img/icon-home/1.start03.png);*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100% 100%;*/
}

.system-img {
  background-image: url(../img/icon-home/4.system.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.scan-btn {
  background-image: url(../img/icon-home/6.package0.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.print-btn {
  background-image: url(../img/icon-home/10.print01.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.print-black-btn {
  background-image: url(../img/icon-home/10.print02.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.putMoney-btn {
  background-image: url(../img/icon-home/7.put01.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.pYM-btn-short {
  background-image: url(../img/icon-home/7.put03.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.putMoney-btn-success,.setting_back {
  background-image: url(../img/icon-home/8.success06.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.phone-btn {
  background-image: url(../img/icon-home/3.phone01.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.phone-number > div {
  background-image: url(../img/icon-home/3.phone02.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.next {
  background-image: url(../img/icon-home/3.phone03.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sell-black {
  background-image: url(../img/icon-home/3.money02.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sell-green {
  background-image: url(../img/icon-home/3.money03.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  margin: 0 auto;
}

.sell-red {
  background-image: url(../img/icon-home/3.money4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  margin: 0 auto;
}

.message {
  background-image: url(../img/icon-home/4.message01.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.msg-yellow {
  background-image: url(../img/icon-home/4.message02.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.msg-black {
  background-image: url(../img/icon-home/4.message03.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hand {
  background-image: url(../img/icon-home/6.over0.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.zjhn-nav li.active a {
  /*background-image: url(../img/icon-home/Click_03_temp.png);*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}

.to_home_div {
  position: relative;
}





.success_content_min {
  display: inline-block;
}
.success_content_normal {
  display: inline-block;
}.success_content_max {
   text-align: left;
   display: inline-block;
 }
.then_btn{
  display:inline-block;
}
.hidden{
  display: none;
}
.login-yellow {
  /* background-image: url(../img/icon-home/4.message03.png); */
  background-color: #f9e9bd;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius:30px 30px 30px 30px;
}
.login-black {
  /* background-image: url(../img/icon-home/4.message02.png); */
  background-color: #f9e9bd;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius:30px 30px 30px 30px;
}
.cash-query {
  /* background-image: url(../img/icon-home/4.message03.png); */
  background-color: #f9e9bd;
  border-radius:20px 20px 20px 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.index-button {
  background-image: url(../img/icon-home/4.message03.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}



.walletSelected {
  background-image: url(../img/icon-home/walletSelect.png);
}

.go-back {
  background-color: #f9e9bd;
  border-radius:30px 30px 30px 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.putwallet {
  background-image: url(../img/icon-home/send.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
}
#qrcode {
  padding: 25px;
  background-color: #ffffff;
}
.qrcode_address{
  margin-top: 15px;
  color:  #e89553;
  font-weight: bolder;
  font-size: 25px;
}
.switchArea{
  color: white;
  width: 450px;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  margin: 0 auto;
  margin-top: 20px;
}


.switch-area {
  background: #1c416e;
  display: flex;
  margin-right: 50px;
  height: 155px;
  width: 580px;
  margin-bottom: 40px;
}
.swticth-icon{
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: center;
  background-position-y: center;
  width: 155px;
}
.switch-white-back{
  background-image: url(../img/icon-home/switch-back.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 425px;
  color: gray;
  font-size: 46px;
  padding-top: 47px;
}
.panel-right-area{
  background-repeat: no-repeat;
  background-size: 100%;
  width: 436px;
  color: #fffcfa;
  font-size: 30px;
  text-align: center;
  padding-top: 60px;
  padding-left: 150px;
  padding-right: 50px;
  margin-left: 160px;
  height: 180px;
  line-height: 43px;
}
.faceinfo-area{
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1000px;
  color: #fffcfa;
  font-size: 30px;
  text-align: left;
  padding-top: 20px;
  padding-left: 50px;
  line-height: 43px;
  height: 600px;
}
.faceinfo-area-left{
  width: 40%;
}.faceinfo-area-right{
  width: 50%;
}
.card-img{
  max-width: 500px;
  max-height: 500px;
  height: auto;
  width: auto;
}
.panel-right-area p{
  text-align: left;
  width: 300px;
  margin-left: 100px;
  font-size: 23px;
}
