.calculator{width:430px;height:500px;padding-left:5px;padding-top:25px;position:relative;}
.calculator .num_key{width:130px;height:130px;display:inline-block;background-color:#1c406d85;margin:5px;line-height: 120px;text-align:center;font-size:51px;color:#FFFFFF;font-weight:bold;}
.calculator .btn_key{width:130px;height:130px;display:inline-block;background-color:#1c406d85;margin:5px;line-height: 120px;text-align:center;font-size:51px;color:#FFFFFF;font-weight:bold;}
.calculator .num_key:hover{cursor: pointer;}
.calculator .num_key:active{cursor: pointer;opacity:0.7;filter:alpha(opacity=70);}
.calculator .btn_key:hover{cursor: pointer;}
.calculator .btn_key:active{cursor: pointer;opacity:0.7;filter:alpha(opacity=70);}
.calculator .ok{height:100px;line-height:100px;position:absolute;}
.continue-btn{
  float: right;
  width: 240px;
  height: 130px;
  display: inline-block;
  background-color: #1c416e;
  /* margin: 5px; */
  line-height: 122px;
  text-align: center;
  color: #FFFFFF;
  font-size: 51px;
  font-weight: bold;
  position: absolute;
  right: 35px;
  bottom: 183px;
}
