@charset "utf-8";
/*32寸竖屏*/
@media screen and (min-width: 1080px) and (min-height: 1800px) {
  .header {
    height: 140px;
  }

  .header-contact > div {
    font-size: 1.8em;
    height: 1.7em;
  }

  .header-contact > div:first-child {
    margin-top: 20px;
  }
  .faceinfo-area{
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fffcfa;
    font-size: 30px;
    text-align: left;
    padding-top: 20px;
    padding-left: 50px;
    line-height: 43px;
    height: 600px;
  }
  .panel-right-area{
    background-repeat: no-repeat;
    background-size: 100%;
    width: 436px;
    color: #fffcfa;
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
    padding-left: 150px;
    padding-right: 50px;
    margin-left: 160px;
    height: 180px;
    line-height: 43px;
  }
  .panel-right-area p{
    text-align: left;
    width: 300px;
    margin-left: 100px;
    font-size: 23px;
  }
  .switch-white-back{
    background-image: url(../img/icon-home/switch-back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 425px;
    color: gray;
    font-size: 46px;
    padding-top: 47px;
  }
  .log-content {
    height: 114px;
    width: 341px;
    top: 50px;
    left: 10px;
    margin: 0;
    position: absolute !important;
  }

  .log-bg {
    background-image: url(../img/icon-home/BTM.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    width: 130px;
    height: 47px;
    /* width: 280px; */
    /* height: 137px; */
    margin-left: 20px;
    margin-top: -33px;
  }
  .newStart {
    background: url(../img/icon-home/start_back.png) no-repeat center;
    height: 89px;
    /* width: 286px; */
    font-size: 50px;
    font-family: cursive;
    margin-top: 220px;
    color: #fff;
  }
  .start-bg {
    background-image: url(../img/icon-home/start1920.jpg);
    background-repeat: unset;
    background-size: 100%;
  }.all-bg {
     background-image: url(../img/icon-home/bottom1920.jpg);
     background-repeat: unset;
     background-size: 100%;
   }
  .info-btn {
    width: 30%;
    margin: auto;
  }

  .balance-info {
    background-image: url(../img/icon-home/startIBalance.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    width: 400px;
    height: 63px;
    right: 30px;
    top: 4px;
  }

  .balance-info > .buy-left {
    height: 45px;
    width: 73px;
    line-height: 62px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
  }
  .balance-info > .buy-right {
    height: 45px;
    /* margin-top: 16px; */
    width: 260px;
    line-height: 62px;
    font-size: 25px;
    color: gray;
    font-weight: 700;
    text-align: center;
  }

  .log-buy-info > div {
    height: 45px;
    margin-top: 16px;
    width: 120px;
    line-height: 35px;
    color: #8e7d70;
    font-size: 15px;
    font-weight: bold;
  }

  .log-buy-info-new > .buy-left {
    height: 45px;
    margin-top: 16px;
    width: 120px;
    line-height: 52px;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
  }
  .log-buy-info-new > .buy-right {
    height: 45px;
    margin-top: 16px;
    width: 385px;
    line-height: 52px;
    font-size: 30px;
    color: gray;
    font-weight: 700;
    text-align: center;
  }
  .log-buy-info-start > .buy-left {
    height: 45px;
    margin-top: 16px;
    width: 120px;
    line-height: 52px;
    font-size: 35px;
    color: #fff;
    font-weight: 700;
  }
  .log-buy-info-start > .buy-right {
    height: 45px;
    margin-top: 16px;
    width: 385px;
    line-height: 55px;
    font-size: 40px;
    color: gray;
    font-weight: 700;
    text-align: center;
  }

  .buy-left {
    margin-left: 30px;
  }

  .buy-right {
    margin-right: 30px;
  }

  .info-content {
    margin-top: 145px;
  }

  .info-titile {
    font-size: 56px;
    color: #000000;
    font-weight: bold;
  }

  .info-titile > div {
    line-height: 80px;
  }

  .info-input-content {
    width: 100%;
    height: 78px;
    /* margin-left: 20px; */
    /* top: 16px; */
    position: relative;
    line-height: 65px;
    font-size: 40px;
  }

  .info-btn {
    margin-top: 20px;
  }

  .info-content-big {
    margin-top: 145px;
    font-weight: bold;
    font-size: 80px;
  }

  .middle {
    width: 76%;
    height: 70%;
    position: absolute;
    top: 58%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

  }

  .middle-contain {
    width: 100%;
    height: 100%;
    position: relative;
    vertical-align: middle;
    text-align: center;
  }

  .log-buy-icon {
    width: 420px;
    height: 120px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .center-div {
    left: 50%;
    margin-left: -270px;
    display: block;
    position: relative;
  }

  .button-font-div {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: white;
    line-height: 81px;
    margin-top: 55px;
    width: 420px;
  }
  .button-font-div-start {
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: white;
    line-height: 115px;
  }
  .contain-font {
    font-weight: bold;
    font-size: 150px;
  }

  .log-buy-info-big {
    width: 540px;
    height: 102px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .log-buy-info-big > div {
    height: 65px;
    width: 200px;
    line-height: 0px;
    color: #8e7d70;
    font-size: 25px;
    font-weight: bold
  }

  .buy-big-left {
    float: left;
    margin-left: 30px;
  }

  .buy-big-right {
    float: right;
    margin-right: 30px;
  }

  .new-center-div {
    left: 50%;
    display: block;
  }

  .buying {
    font-weight: bold;
    font-size: 48px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }

  .buying div {
    line-height: 80px;
  }

  .yellow-btn {
    color: white;
    height: 100px;
    width: 300px;
    font-size: 46px;
    text-align: center;
    line-height: 95px;
    margin: 0 auto;
    margin-top: 80px;
  }

  .bottom-contact {
    text-align: right;
    padding-left: 4%;
    color: #fffcfa;
    position: fixed;
    bottom: 0px;
    height: 45px;
    font-size: 20px;
    display: flex;
  }

  .bottom-contact label, .bottom-contact .merchant_hotLine, .bottom-contact .merchant_mail {
    margin-left: -15px;
  }
  .select-luanguage-btn {
    color: #8a7c71;
    font-weight: bold;
    font-size: 30px;
    width: 470px;
    height: 79px;
    line-height: 80px;
    margin: 0 auto;
    top: 10px;
    margin-top: 560px;
    display: flex;
  }

  .switchArea {
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    margin-left: 23%;
    display: inherit;
  }
  .switch-area {
    background: #1c416e;
    display: flex;
    margin-right: 50px;
    height: 155px;
    width: 580px;
    margin-bottom: 40px;
  }
  .log-buy-info-new {
    background-image: url(../img/icon-home/startIBalance.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 91px;
    width: 594px;
    margin: unset;
  }

  .log-buy-info-start {
    background-image: url(../img/icon-home/startIBalance.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 91px;
    width: 594px;
    margin: 0 auto;
    margin-top: 45px;
  }
  .pay-choose {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 70px;
    width: 275px;
    margin: 0 auto;
    margin-top: 90px;
    color: #fff;
    font-size: 25px;
    line-height: 65px;
    text-align: right;
    margin-right: 10px;
  }

  .top-little-title {
    margin-top: 145px;
    font-weight: bold;
    font-size: 60px
  }

  .middle-little-title {
    font-size: 40px;
    height: 90px;
    font-weight: bold;
    margin-top: 30px;
  }

  .system-img {
    width: 500px;
    height: 550px;
    margin: 0 auto;
    margin-top: 50px;

  }

  .info-content-middle {
    margin-top: 245px !important;
    font-weight: bold;
    font-size: 54px;
    text-align: center;
    line-height: 100px;
    color: #FFF;
  }

  .system-top {
    top: 0px;
  }

  .yellow-btn-big {
    color: white;
    height: 120px;
    width: 400px;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    margin: 0 auto;
    margin-top: 400px;
    font-weight: bold;
  }

  .short-distance {
    margin-top: 10px;
  }

  .contents {
    text-align: center;
    font-size: 30px;
    line-height: 60px;
  }

  .scan-btn {
    width: 208px;
    height: 209px;
    margin: 0 auto;
  }

  .thin {
    font-weight: 100;
    letter-spacing: -2px;
  }

  .print-btn, .print-black-btn {
    color: white;
    height: 110px;
    width: 600px;
    font-size: 40px;
    text-align: center;
    line-height: 110px;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: bold;
  }

  .left-contents {
    font-size: 36px;
    margin-top: 40px;
    text-align: center;
    line-height: 55px;
  }

  .put {
    height: 100px;
    width: 90%;
    margin: 0 auto;
  }

  .putMoney-btn {
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 40px;
  }

  .putMoney-right {
    height: 70px;
    font-size: 30px;
    margin-top: 30px;
    float: right;
    margin-right: 80px;
  }

  .pYM-btn-short, .pWM-btn-long, .pWM-btn-short {
    margin-left: 15px;
  }

  .pYM-btn-long {
    height: 65px;
    line-height: 70px;
    font-size: 25px;
    font-weight: bolder;
    color: #0a0a0a;
  }

  .pYM-btn-short {
    height: 60px;
    width: 100px;
    line-height: 60px;
  }

  .pWM-btn-long {
    width: 300px;
    height: 70px;
    line-height: 73px;
    margin-left: 15px;
    color: #8e7d70;
    font-size: 20px;
    font-weight: 700;
  }

  .pWM-btn-short {
    width: 300px;
    height: 70px;
    line-height: 73px;
    font-size: 20px;
    font-weight: bolder;
  }

  .btns-two {
    /* margin-top:70px; */
  }

  .long {
    margin-left: 70px;
  }

  .putMoney-btn-success {
    margin: 0 auto;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    width: 300px;
    height: 100px;
    margin-top: 50px;
  }

  .setting_back {
    float: left;
    margin-left: 20px;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    width: 300px;
    height: 100px;
  }

  .short {
    margin-top: 245px;
    color: #FFF;
  }

  .phone-btn {
    width: 700px;
    height: 138px;
    color: #8e7d70;
    font-size: 40px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .phone-number {
    margin: 0 auto;
    width: 60%;
    margin-top: 20px;
    height: 120px;
  }

  .phone-number > div {
    width: 144px;
    height: 153px;
    float: left;
    font-size: 80px;
    color: #8e7d70;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    line-height: 125px;
  }

  .after {
    margin-left: 108px;
  }

  .next {
    width: 294px;
    height: 133px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-left: 210px;
    line-height: 112px;
    margin-top: 180px;
  }

  .little-title {
    letter-spacing: -2px;
    font-size: 40px;
    font-weight: 300;
  }

  .thin-title {
    font-size: 54px;
    margin-top: 180px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    height: 140px;
    color: #fff;
  }

  .sell, .sell-green, .sell-red {
    font-weight: bold;
    font-size: 32px;
  }

  .sell-green, .sell-red, .sell-black {
    color: white;
    margin-top: 15px;
  }

  .sell {
    width: 400px;
    height: 60px;
    line-height: 48px;
    color: #8e7d70;
    text-align: right;
    margin: unset;
    margin-top: 10px;
    margin-left: 80px;
    padding-right: 20px;
  }

  .sell-black {
    margin-top: 50px;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    width: 300px;
    height: 100px;
  }

  .sell-green, .sell-red {
    width: 140px;
    height: 50px;
    line-height: 55px;
    font-size: 25px;
    margin-top: 20px;
  }

  .sell-div {
    width: 100%;
    margin: unset;
    margin-top: 10px;
  }


  .sell-left {
    width: 100%;
  }

  .sell-right {
    width: 20%;
    left: 585px;
    top: 545px;
    position: absolute;
    display: flex;
  }

  .choose {
    font-weight: bold;
    font-size: 25px;
    margin-top: 0px;
    text-align: center;
  }

  .left {
    margin-left: 100px;
  }



  .msg-yellow, .msg-black {
    font-size: 50px;
    margin-left: 50px;
    float: left;
  }

  .msg-yellow {
    width: 154px;
    height: 119px;
    line-height: 119px;
    margin-left: 160px;
  }

  .msg-black {
    width: 155px;
    height: 120px;
    line-height: 120px;
    float: right;
    margin-right: 160px;
  }

  .middle-rule {
    height: 50px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 30px;
    text-align: left;
    font-weight: bold;

  }

  .left-width {
    width: 60%;
  }

  .hand {
    height: 200px;
    width: 160px;
    margin: 0 auto;
  }

  .qrcode {
    height: 300px;
    width: 300px;
    margin: 0 auto;
  }
  .font40 {
    font-size: 40px;
  }

  .top60 {
    margin-top: 60px;
  }

  .top80 {
    margin-top: 80px;
  }

  .top100 {
    margin-top: 100px;
  }

  .top200 {
    margin-top: 200px;
  }

  .top400 {
    margin-top: 400px;
  }

  .top600 {
    margin-top: 600px;
  }

  .font-bold {
    font-weight: bold;
  }

  .font-spacing {
    letter-spacing: -2px;
  }


  .middle-left {
    width: 80%;
    margin: 0 auto;
    font-size: 40px;
    text-align: left;
    font-weight: bold;
  }
  .btns, .btns-two {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    width: 75%;
    height: 70px;
    margin-top: 15px;
  }
  .middle-left div {
    height: 50px;
    line-height: 50px;
  }

  .bottom-div {
    margin-top: 300px;
    font-size: 40px;
    text-align: left;
    width: 60%;
  }

  .info-btn-sub {
    width: 180px;
    height: 60px;
    background-image: url(../img/icon-home/3.phone03.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    font-size: 20px;
    line-height: 50px;
    display: inline-block;
    font-weight: bolder;
    text-align: center;
  }
  .info-btn > table td div {
    width: 80px;
    height: 80px;
    background-image: url(../img/icon-home/3.phone02.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    text-align: center;
    line-height: 65px;
    font-size: 40px;
    color: #8e7d70;
    font-weight: bold;
  }
  .info-input {
    background-image: url(../img/icon-home/3.phone01.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 30%;
    height: 80px;
    margin: auto;
    margin-top: 20px;
  }

  .info-input-setting {
    background-image: url(../img/icon-home/3.phone01.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 70%;
    height: 80px;
    margin: auto;
    margin-top: 10px;
  }
  .bic {
    background-image: url(../img/icon-home/buttomBIC1920_2.jpg);
    background-repeat: unset;
    background-size: 100%
  }
  .error_div {
    background-image: url(../img/icon-home/error1920_2.jpg);
    background-repeat: unset;
    background-size: 100%
  }

  .type {
    background-image: url(../img/icon-home/buttomBIC1080.jpg);
    background-repeat: no-repeat;
    background-size: 100%
  }
  .label_div{
    display: inline-block;
    width: 40%;
    text-align: left;
    font-size: 30px;
    font-weight: bolder;
  }
  .message {
    width: 60%;
    height: 350px;
    line-height: 100px;
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
  }

  .bottom-btn {
    width: 70%;
    height: 120px;
    margin: 0 auto;
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
  }
  .input_setting{
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    border: none;
    background-color:transparent;
    outline: none;
    font-size: 20px;
  }.input_login{
     display: inline-block;
     width: 50%;
     margin-top: 10px;
     border: none;
     background-color:transparent;
     outline: none;
     font-size: 20px;
   }
  .info-titile-big {
    font-weight: bold;
    font-size: 150px;
    margin-top: 300px;
    margin-bottom: 300px;
    color:#fff;
  }

  .little-white-span {
    color: #fff;
    font-size: 40px;
    margin-top: 30px;

  }

  .login-yellow {
    width: 120px;
    height: 60px;
    line-height: 60px;
    margin-left: 200px;
  }

  .login-black {
    width: 120px;
    height: 60px;
    line-height: 60px;
    float: right;
    margin-right: 200px;
  }

  .cash-query {
    width: 60px;
    height: 38px;
    line-height: 38px;
  }

  .index-button {
    width: 150px;
    height: 60px;
    line-height: 60px;
  }

  .wallet {
    background-image: url(../img/icon-home/wallet.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    width: 200px;
    height: 200px;
    margin: 10px;
    line-height: 130px;
    color: white;
    display: inline-block;
  }

  .go-back {
    width: 150px;
    height: 50px;
    line-height: 50px;
  }

  .back-allBg {
    background-image: url(../img/icon-home/back-background01.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .login_label{
    display: inline-block;
    width: 20%;
    text-align: left;
    font-size: 30px;
    font-weight: bolder;
  }

  .login_input_setting{
    display: inline-block;
    width: 70%;
    margin-top: 10px;
    border: none;
    background-color:transparent;
    outline: none;
    font-size: 20px;
  }
  .login_input_setting_code{
    display: inline-block;
    width: 54%;
    margin-top: 10px;
    border: none;
    background-color:transparent;
    outline: none;
    font-size: 20px;
  }

  .walletLabel{
    width: 180px;
    height: 80px;
    font-size: 20px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .settting-content {
    /* margin-top: 20px; */
  }
  .info-input-setting {
    background-image: url(../img/icon-home/3.phone01.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 70%;
    height: 70px;
    margin: auto;
    margin-top: 10px;
  }

  .to_home_label {
    position: fixed;
    right: 30px;
    top: 100px;
    font-size: 30px;
    background: #fff;
    padding: 20px;
    width: 110px;
    font-weight: 800;
  }
  .toAddressArea {
    font-size: 28px;
    font-weight: bolder;
    text-align: left;
    display: flex;
  }
  .button-font-div-limit {
    font-size: 30px;
    color: white;
    height: 80px;
    width: 350px;
    text-align: center;
    line-height: 75px;
    margin: 0 auto;
    margin-top: 100px;
  }
  .ui-ios-overlay {
    z-index: 99999;
    position: fixed;
    top: 61%;
    left: 50%;
    width: 450px;
    height: 470px;
    margin-left: -225px;
    margin-top: -230px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }

  .icon-img {
    box-shadow: 0px 4px 5px 0px #9E9E9E, 0px 3px 20px 0px rgba(255, 255, 255, 0.5);
    border-radius: 125px;
    height: 90px;
  }

  .language-item {
    width: 210px;
    background-size: 100% 100%;
    height: 75px;
    /* box-shadow: -10px 12px 15px -3px #8e8e8e; */
  }
  .log-buy-info-big {
    background-image: url(../img/icon-home/1.start01.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .click-to-change{
    margin-top: 50px;
    font-size: 45px;
  }
  .log-buy-icon {
    /*background-image: url(../img/icon-home/blue.png);*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    background: #de5c00;
    width: 420px;
    height: 92px;

  }
  .to_home_btn {
    width: 223px;
    height: 63px;
    position: fixed;
    left: 70px;
    bottom: 9px;
    background-image: url(../img/icon-home/cancel-btn.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
  }
  .to_cancel_btn {
    width: 165px;
    height: 43px;
    position: fixed;
    right: 70px;
    bottom: 12px;
    background-image: url(../img/icon-home/cancel-btn.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
  }
  #buy_cash, #buy_amount {
    color: #FFF;
  }
  .success_icon{
    background-image: url(../img/icon-home/success2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
  }

  #sell_amount, #sell_cash {
    color: #FFF;
  }

  .cash-limit-icon {
    background-image: url(../img/icon-home/blue.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .pYM-btn-long {
    /*background-image: url(../img/icon-home/switch-back.png);*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    background: #fff;
  }
  .pWM-btn-short {
    /*background-image: url(../img/icon-home/switch-back.png);*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    background: #fff;


  }

  .pWM-btn-long {
    /*background-image: url(../img/icon-home/switch-back.png);*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    background: #fff;
  }

  .home_btn_label {
    width: 500px;
    background-image: none;
    left: 315px;
    bottom: 0px;
    font-size: 25px;
    color: #ffbc33;
    font-weight: 500;
    text-align: left;
    line-height: 40px;
  }

  .sell {
    /*background-image: url(../img/icon-home/7.put04.png);*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    background: #fff;
  }


  .new-panel{
    margin-top: 0px;
  }
  .choose-pay-area {
    display: inherit;
    width: 40%;
    margin-left: 23%;
    margin-top: 150px;
  }
  .new-panel > div {
    margin-left: 5%;
    width: 90%;
    margin-top: 180px !important;
    min-height: 500px;
  }
  .testScan{
    width: 560px;
    background-image: url(../img/icon-home/scanTest.png);
    background-size: 100%;
    height: 380px;
    margin-left: 200px;
    background-repeat: no-repeat;
    border: 3px solid #fff;
  }
  .new-panel-title {
    color: #fff;
    font-size: 63px;
    font-weight: 600;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
  }

  .new-panel-content {
    font-size: 23px;
    color: #fff;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
  }

  .more-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }
  .more-span{
    color: #fff;
    font-size: 40px;
    margin-left: 15px;
    margin-right: 15px;
    width: 325px;
  }

  .phone-icon {
    width: 30px;
    height: 30px;
  }

  .card-icon {
    width: 40px;
    height: 30px;
  }
  .right-step1{
    margin-top: 200px;
  }

  .right-step2 {
    margin-top: 20px;
    /*width: 550px;*/
  }

}
