@layout("/common/_container.html"){
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="userInfoForm">

			<input type="hidden" id="id" value="${term.id}">
			<div class="row">
				<div class="col-sm-12 b-r">
					<div id="driverInfoContent">
						<#input id="oldPwd"  type="password" name="原密码" lanId="oldPwd"   underline="true" />
						<#input id="password" type="password" name="新密码"  lanId="newPwd"  underline="true" />
						<#input id="rePwd" type="password" name="新密码确认"  lanId="confirmPwd"  underline="true" />
					</div>
				</div>
			</div>
			<div class="row btn-group-m-t">
				<div class="col-sm-offset-3 col-sm-8">
					<#button btnCss="test" name="提交" lanId="submitBtn" id="fa fa-check" icon="fa-check" clickFun="UserInfoDlg.chPwd()"/>
					<#button btnCss="test" name="取消" lanId="cancelBtn" id="cancel" icon="fa-eraser" clickFun="UserInfoDlg.close()"/>
				</div>
			</div>
		</div>

	</div>
</div>
<script src="${ctxPath}/static/modular/system/terminal/term_info.js"></script>
@}
