@layout("/common/_container.html"){
<link href="${ctxPath}/static/css/question/question.css" rel="stylesheet">
<link href="${ctxPath}/static/css/terminal/term_info.css" rel="stylesheet">
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="emailSettingInfoForm">
			<div class="row" style="text-align:center;margin:60px 0;">
				<div class="col-sm-12">
					<h2 class="lanClass" data-lanid="customMailSettings">自定义发送邮箱设置</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-offset-1 col-sm-10">
					@if(isEmpty(entity)){
					
						<div class="row">
							<div class="col-sm-3 col-xs-12 label-div lanClass" style="text-align:left;" data-lanid="host">Host</div>
							<div class="col-sm-8 col-xs-10" style="text-align:center;">
								<input id="host" class="content-input" value=""/>
							</div>
							<div class="col-sm-1 col-xs-2"><div class="help-tip" style="float:left;"><p>Mail transfer protocol server, select the regular SMTP server to implement the mail service.(eg:smtp.exmail.qq.com)</p></div></div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3 col-xs-12 label-div lanClass" style="text-align:left;" data-lanid="mailbox">Mailbox</div>
							<div class="col-sm-8 col-xs-10" style="text-align:center;">
								<input id="email" class="content-input" value=""/>
							</div>
							<div class="col-sm-1 col-xs-2"><div class="help-tip"><p>Instead of the default mailbox, used to send mail to customers.</p></div></div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3 col-xs-12 label-div lanClass" style="text-align:left;" data-lanid="authorizationCode">password</div>
							<div class="col-sm-8 col-xs-10" style="text-align:center;">
								<input id="password" class="content-input" value=""/>
							</div>
						</div>
						<hr>
					@}else{
						<div class="row">
							<div class="col-sm-3 col-xs-12 label-div lanClass" style="text-align:left;" data-lanid="host">Host</div>
							<div class="col-sm-7 col-xs-10" style="text-align:center;">
								<input id="host" class="content-input" value="${entity.host}"/>
							</div>
							<div class="col-xs-2"><div class="help-tip"><p>Mail transfer protocol server, select the regular SMTP server to implement the mail service.(eg:smtp.exmail.qq.com)</p></div></div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3 col-xs-12 label-div lanClass" style="text-align:left;" data-lanid="mailbox">Mailbox</div>
							<div class="col-sm-8 col-xs-10" style="text-align:center;">
								<input id="email" class="content-input" value="${entity.email}"/>
							</div>
							<div class="col-xs-2"><div class="help-tip"><p>Instead of the default mailbox, used to send mail to customers.</p></div></div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3 col-xs-12 label-div lanClass" style="text-align:left;" data-lanid="authorizationCode">password</div>
							<div class="col-sm-8 col-xs-10" style="text-align:center;">
								<input id="password" class="content-input" value="${entity.password}"/>
							</div>
						</div>
						<hr>
					@}
				</div>
			</div>
			<div class="row btn-group-m-t">
				<div class="col-sm-offset-5 col-sm-6"  style="margin-top:30px;">
					@if(isEmpty(entity)){
							@if(shiro.hasPermission("/emailSetting/add")){
								<#button btnCss="test" name="添加" lanId="add" id="fa fa-check" icon="fa-check" clickFun="EmailSetting.addSubmit()"/>
							@}
						@}else{
							@if(shiro.hasPermission("/emailSetting/edit")){
								<#button btnCss="test" name="修改" lanId="updateBtn" id="fa fa-check" icon="fa-check" clickFun="EmailSetting.editSubmit()"/>
							@}
					@}
					&nbsp;&nbsp;&nbsp;&nbsp;
					<#button btnCss="test" name="取消" lanId="cancelBtn" id="cancel" icon="fa-eraser" clickFun="EmailSetting.close()"/>
				</div>
			</div>

		</div>
	</div>
</div>
<script src="${ctxPath}/static/modular/system/emailSetting/emailSetting.js"></script>
<script>
</script>
<style>
$("input").removeAttr("readonly");
</style>
@}
