<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
  <meta charset="UTF-8">
  <title class="lanClass" data-lanid="kycTitle"></title>
  <link href="${ctxPath}/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="${ctxPath}/static/css/customer/kyc.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="${ctxPath}/static/css/toast.style.min.css"/>
  <link rel="stylesheet" type="text/css" href="${ctxPath}/static/js/plugins/dialog/dialog.css"/>
  <style>
    .no-scroller {
      overflow: hidden;
      height:100%;
     }
  </style>
  <script>
  var system = {};
  var p = navigator.platform;
  var u = navigator.userAgent;

  system.win = p.indexOf("Win") == 0;
  system.mac = p.indexOf("Mac") == 0;
  system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
  if (system.win || system.mac || system.xll) {//如果是PC转
    if (u.indexOf('Windows Phone') > -1) {  //win手机端
    } else {
      window.location.href = "/kyc/friendly";
    }
  }

</script>
</head>
<body style="background-color:#d3dae4;">
<div class="con_title">
  <h2 class="lanClass" data-lanid="certification"></h2>
</div>
<div class="container">
  <!--基本信息区域 start-->
  <div class="row">
	  @if(isNotEmpty(agreement)){
		  <input id="agreementContent" value='${agreement.agreementContent}' type="hidden">
		  <input id="agreementTitle" value='${agreement.agreementTitle}' type="hidden">
		  <input id="privacyPolicyContent" value='${agreement.privacyPolicyContent}' type="hidden">
		  <input id="privacyPolicyTitle" value='${agreement.privacyPolicyTitle}' type="hidden">
	  @}
    <!--姓名-->
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 label-title lanClass" data-lanid="name">
    </div>
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 content_input">
      <input class="div_input" type="text" name="name" id="custName" value=""/>
    </div>

    <!--邮箱-->
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 label-title lanClass" data-lanid="email">
    </div>
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 content_input">
      <input class="div_input" type="text" name="" id="email" value=""/>
    </div>

    <!--证件类型-->
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 label-title lanClass" data-lanid="cardType">
    </div>
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 content_input">
      <select class="div_input" id="cardType" onchange="changeType()">
        @for(cs in cardTypes!){
        <option value="${cs.code}">${cs.label}</option>
        @}
      </select>
    </div>
  </div>
  <!--基本信息区域 end-->

  <!--身份证校验上传图片区域 start-->
  <div id="idCardArea" class="row">
    <!--身份证正面-->
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 label-title lanClass" data-lanid="idCardPositive">
    </div>
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 content_photo">
      <div id="idCardPositiveDiv" class="layui-input-block photo">
        <div class="pic_list">
          <span class="btn btn-successed fileinput-button" style="width: 100%;height: 100%;">
            <input accept="image/*" capture="camera" type="file" id="idCardPositive" class="filesInput" onchange="getFiles(this)"/>
          </span>
        </div>
      </div>
      <span id="cancle-idCardPositiveDiv" class="btn btn-success fileinput-button cancle">
        <span class="fa fa-trash-o" style="font-size: 20px">X</span>
        <input type="button" class="btn btn-success" value="clear" onclick="cancleFile(this);"/>
      </span>
    </div>

    <!--身份证背面-->
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 label-title lanClass" data-lanid="idCardObverse">
    </div>
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 content_photo">
      <div id="idCardObverseDiv" class="layui-input-block photo">
        <div class="pic_list" style="width: 90%;height: 80%;margin: 0 auto;position: relative;top: 10%;margin-left: 5%;">
          <span class="btn btn-successed fileinput-button" style="width: 100%;height: 100%;">
            <input accept="image/*" capture="camera" type="file" id="idCardObverse" class="filesInput" onchange="getFiles(this)"/>
          </span>
        </div>
      </div>
      <span id="cancle-idCardObverseDiv" class="btn btn-success fileinput-button cancle">
       <span class="fa fa-trash-o" style="font-size: 20px">X</span>
       <input type="button" class="btn btn-success" value="clear" onclick="cancleFile(this);"/>
     </span>
    </div>

  </div>
  <!--身份证校验上传图片区域 end-->

  <!--护照校验上传图片区域 start-->
  <div id="passportArea" class="row hidden">
    <!--身份证正面-->
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 label-title lanClass" data-lanid="idPassport">
    </div>
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 content_photo">
      <div id="idPassportDiv" class="layui-input-block photo">
        <div class="pic_list">
          <span class="btn btn-successed fileinput-button" style="width: 100%;height: 100%;">
            <input accept="image/*" capture="camera" type="file" id="idPassport" class="filesInput" onchange="getFiles(this)"/>
          </span>
        </div>
      </div>
      <span id="cancle-idPassportDiv" class="btn btn-success fileinput-button cancle">
        <span class="fa fa-trash-o" style="font-size: 20px">X</span>
        <input type="button" class="btn btn-success" value="clear" onclick="cancleFile(this);"/>
      </span>
    </div>
  </div>
  <!--护照校验上传图片区域 end-->

  <!--手持证件照-->
  <div id="handheldArea" class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 label-title lanClass" data-lanid="idCardHandheld">
    </div>
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 content_photo">
      <div id="idCardHandheldDiv" class="layui-input-block photo">
        <div class="pic_list" style="width: 90%;height: 80%;margin: 0 auto;position: relative;top: 10%;margin-left: 5%;">
          <span class="btn btn-successed fileinput-button" style="width: 100%;height: 100%;">
            <input accept="image/*" capture="camera" type="file" id="idCardHandheld" class="filesInput" onchange="getFiles(this)"/>
          </span>
        </div>
      </div>
      <span id="cancle-idCardHandheldDiv" class="btn btn-success fileinput-button cancle">
       <span class="fa fa-trash-o" style="font-size: 20px">X</span>
       <input type="button" class="btn btn-success" value="clear" onclick="cancleFile(this);"/>
     </span>
    </div>
  </div>

  <div class="row" style="margin:20px 0 100px;">
    <div id="agreeArea" class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6" style="margin-top: 10px;margin-bottom: 10px;word-wrap:break-word;">
      <input type="checkbox" id="haveRed"/>
      <label style="display: inline;">I agree to the 
      <a style="text-decoration:underline"  onclick="showLicense()">
      @if(isNotEmpty(agreement)){
      ${agreement.agreementTitle}
      @}
      </a>
    @if(isNotEmpty(agreement.privacyPolicyTitle)){
    &nbsp;and&nbsp; <a style="text-decoration:underline"  onclick="showPrivacyPolicy()">${agreement.privacyPolicyTitle}</a>
    @}
    </label>
    </div>
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6" style="padding-left:0;padding-right:0;">
      <button onclick="kycInfoSubmit();" class="kycSubmit lanClass" data-lanid="submitBtn"></button>
    </div>
  </div>

</div>

</body>
</html>
<script src="${ctxPath}/static/js/jquery.min.js"></script>
<script src="${ctxPath}/static/js/bootstrap.min.js"></script>
<script src="${ctxPath}/static/js/plugins/layer/layer.js"></script>
<script src="${ctxPath}/static/js/plugins/dialog/mDialogMin.js"></script>
<script src="${ctxPath}/static/js/common/toast.script.js"></script>
<script src="${ctxPath}/static/js/common/kycImgUpload.js"></script>
<script src="${ctxPath}/static/modular/system/customer/customer_kyc.js"></script>
<script type="text/javascript">
  var languageStorageList = [
    {
      id        : 'kycTitle',
      lanEnglish: 'KYC/AML',
      lanChinese: 'KYC/AML'
    }, {
      id        : 'certification',
      lanEnglish: 'Certification',
      lanChinese: '上传认证信息'
    }, {
      id        : 'name',
      lanEnglish: 'Full name as it appears on your document:',
      lanChinese: '姓名:'
    }, {
      id        : 'email',
      lanEnglish: 'Contact Email:',
      lanChinese: '邮箱:'
    }, {
      id        : 'idCardPositive',
      lanEnglish: 'The Front Of Your State ID Card:',
      lanChinese: '身份ID正面照:'
    }, {
      id        : 'idCardObverse',
      lanEnglish: 'The Back Of Your ID:',
      lanChinese: '身份ID反面照:'
    }, {
      id        : 'idCardHandheld',
      lanEnglish: 'Please provide Selfie showing ID used with your face clearly:',
      lanChinese: '手持身份证照:'
    }, {
      id        : 'idPassport',
      lanEnglish: 'Passport photo:',
      lanChinese: '护照证件照:'
    }, {
      id        : 'submitBtn',
      lanEnglish: 'Submit',
      lanChinese: '提交'
    }, {
      id        : 'cardType',
      lanEnglish: 'Please choose which ID you would like to use:',
      lanChinese: '请选择您要使用的证件验证身份'
    }
  ];
  $.each(languageStorageList, function (index, item) {
    sessionStorage.setItem(item.id, JSON.stringify(item));
  });
  $(function () {// 初始化内容
    // 初始化内容
    $(".cancle").attr("style", "display:none;");//隐藏div
  });
</script>
<script src="${ctxPath}/static/js/common/language.js"></script>
<script type="text/javascript">
  function showLicense() {
   /*  var msg ='Facebook builds technologies and services that enable people to connect with each other, build communities, and grow businesses. These Terms govern your use of Facebook, Messenger, and the other products, features, apps, services, technologies, and software we offer (the Facebook Products or Products), except where we expressly state that separate terms (and not these) apply. These Products are provided to you by Facebook, Inc.' +
      '<br><br>We don’t charge you to use Facebook or the other products and services covered by these Terms. Instead, businesses and organizations pay us to show you ads for their products and services. By using our Products, you agree that we can show you ads that we think will be relevant to you and your interests. We use your personal data to help determine which ads to show you.' +
      '<br><br>We don’t sell your personal data to advertisers, and we don’t share information that directly identifies you (such as your name, email address or other contact information) with advertisers unless you give us specific permission. Instead, advertisers can tell us things like the kind of audience they want to see their ads, and we show those ads to people who may be interested. We provide advertisers with reports about the performance of their ads that help them understand how people are interacting with their content. See Section 2 below to learn more.' +
      '<br><br>Our Data Policy explains how we collect and use your personal data to determine some of the ads you see and provide all of the other services described below. You can also go to your settings at any time to review the privacy choices you have about how we use your data.'; */
    var msg = $("input[ id='agreementContent' ] ").val();
	msg = msg.replace(/\r\n/g, '<br/>').replace(/\n/g, '<br/>');  //转换格式
	var title = $("#agreementTitle").val();
    Dialog.init(msg, {
      title : title,
      style : 'height: 300px;\n' +
        '      font-size: 13px;\n' +
        '      text-align: left;\n' +
        '      padding: 30px;\n' +
        '      overflow: auto;',
      after : function () {
        $('html,body,.container').removeClass('no-scroller');
        window.scrollTo(0,document.body.clientHeight);
      },
      onload: function () {
        $('html,body,.container').addClass('no-scroller');
      }
    });
  }
  
  function showPrivacyPolicy() {
		var msg = $("input[ id='privacyPolicyContent' ] ").val();
		msg = msg.replace(/\r\n/g, '<br/>').replace(/\n/g, '<br/>');  //转换格式
		var title = $("#privacyPolicyTitle").val();
	    Dialog.init(msg, {
	      title : title,
	      style : 'height: 300px;\n' +
	        '      font-size: 13px;\n' +
	        '      text-align: left;\n' +
	        '      padding: 30px;\n' +
	        '      overflow: auto;',
	      after : function () {
	        $('html,body,.container').removeClass('no-scroller');
	        window.scrollTo(0,document.body.clientHeight);
	      },
	      onload: function () {
	        $('html,body,.container').addClass('no-scroller');
	      }
	    });
	  }
	  
</script>

