<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>success</title>
  <link rel="stylesheet" href="${ctxPath}/static/css/weui.min.css" type="text/css">
  <link href="${ctxPath}/static/css/customer/kyc.css" rel="stylesheet">
</head>

<body style="background-color:#d3dae4;">


  <div style="background-color:#d3dae4;margin-top: 20%" class="weui-msg">
    <div class="weui-msg__icon-area"><i  class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
      <h3 style="margin-bottom: 30px" >Submitted successfully!</h3>
      <h4 >Staff members are conducting audits,which will be completed in about 15 minutes</h4>
    </div>
  </div>

</body>
<script src="${ctxPath}/static/js/jquery.min.js"></script>

</html>
